#map {
  width: 25rem;
  height: 25rem;
  margin: auto;
}

.box-shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.space-info p {
  text-align: left;
  font-size: 20pt;
}

.show-container{
  padding-top: 2rem
}

.space-show-container{
  margin-bottom: 5rem;
  margin-top: 3rem
}

.user-name-container{
  padding-top: 5px;
  font-family: 'Artifika', serif;
}
