body {
  background-color: #b4debe;
}

.top-bar {
  background-color: #4a403d;
}

.panel.callout {
  background-color: #facf7d;
}

h1 {
  font-family: 'Artifika', serif;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
}

.fa {
  margin-right: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.index-title {
  text-align: center;
}
.search-bar {
  display: inline-flex;
  position: absolute;
  top: 50px;
  right: 0;
}

.search-bar input {
  height: 3rem;
}

.search-bar .Search {
  color: white;
}

.search-bar .inputField {
  width: 16rem;
}

.show-box {
  height: 65px;
}
