body {
  background-image: url("https://s3.amazonaws.com/greenspaces-production/default/park_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Amatic SC', bold;
}

.top-bar-section ul li > a {
  font-family: 'Amatic SC', bold;
  font-size: 1.3rem
}

.panel.callout {
  background-color: #facf7d;
  opacity: 0.8;
  border-radius: 5px;
}

.panel.callout p{
  font-size: 150%;
  color: #008CBA
}

.index-item,
.show-container h1 {
  font-size: 3rem;
}

h1, h2 {
  font-family: 'Amatic SC', bold;
  text-align: center;
  font-size: 2.7rem;
}

p {
  font-family: 'Amatic SC', bold;
  font-weight: bold;
  font-size: 1.3rem;
}

.fa {
  margin-right: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

label{
  font-size: 1.3rem;
}

.log-in-container{
  padding-left: 20%;
  padding-right: 20%;
}

.log-in-container h2{
  text-align: center;
}

.top-bar a{
  font-size: 1.8rem;
}

.top-row {
  float: right;
}

.rowrow{
  text-align: center;
}

.search-bar {
  display: inline-flex;
  float: right;
  top: 50px;
  right: 0;
}

.title-container{
  text-align: center;
}

.title-container h1 {
  background-color: #ebf2bf;
  display: inline-block;
}

.index-title {
  text-align: center;
  display: inline-flex;
  padding-left: 16%
}

.top-row{
  text-align: center;
}

.search-bar input {
  height: 3rem;
}

.search-bar .Search {
  color: white;
}

.search-bar .inputField {
  width: 16rem;
}

.show-box {
  height: 65px;
}
