<h1 class="text-center">Features</h1>
<% @features.each do |feature| %>
  <div class="column panel callout small-9 small-centered">
    <p><%= link_to feature.name, feature_path(feature) %></p>
  </div>
<% end %>
